@import 'config';
@import 'utils';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  height: 100vh;
  line-height: $line-height;
  background: $light-grey;
  transition: ease 0.3s;
}

// HEADER
header {
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  padding: 1rem 0;
  z-index: 100;
  width: $width-max;
  transition: background 300ms ease-in-out box-shadow 250ms ease-in-out 0;
  nav {
    // .nav-left {
    // }
    .nav-right {
      ul {
        list-style: none;

        li {
          a {
            text-decoration: none;
            color: $dark-grey;
            font-weight: $font-weight-med;
          }

          a:hover {
            color: $teal;
          }
        }
      }
    }
  }
}

// Activates when the user starts scrolling
.nav-scroll {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 0;
  z-index: 100;
  width: $width-max;
  transition: background 350ms ease-in-out box-shadow 300ms ease-in-out 0;
  background: $white;
  box-shadow: $navbar-box-shadow;
}

// Intro container
.intro-container {
  padding-top: 2rem;
  .intro-top {
    h1 {
      text-align: start;
      width: $width-max;
      font-size: 3rem;
    }
  }

  .intro-bottom {
    .img-container {
      img {
        min-height: $profile-min-height;
        min-width: $profile-min-width;
        max-height: $profile-max-height;
        max-width: $profile-max-width;
        height: auto;
        width: auto;
        object-fit: fill;
        overflow: auto;
        border: solid 1px;
        border-radius: 50%;
      }
    }
    p {
      width: $med-width;
      text-align: left;
    }

    .text-container {
      ul {
        display: grid;
        grid-template-columns: repeat(2, minmax(60px, 280px));
        text-align: left;
        padding-left: 0.75rem;
      }
    }
  }
}

// Project container
.project-container {
  .projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;

    .project-card {
      max-height: $project-card-height-max;
      max-width: $project-card-width-max;
      padding: 1rem 2rem;
      display: flex;
      flex-direction: column;
      align-items: start;
      box-shadow: $project-card-box-shadow;
      transition: top 0.3s ease;
      position: relative;
      background: $white;
      top: 0;

      .project-img-container {
        height: 300px;
        img {
          height: $height-max;
          width: $width-max;
          object-fit: contain;
        }

        // The Blog img, backlog-buddy-img
        .the-blog-img,
        .backlog-buddy-img {
          object-fit: cover;
        }

        // Discord bot img
        // .discord-bot-img {
        //   object-fit: contain;
        // }
      }

      .project-description-container {
        justify-content: start;
        align-items: start;
        text-align: left;

        .project-info-container {
          .project-stack-container p {
            font-weight: $font-weight-light;
            word-spacing: 1rem;
          }
        }

        .project-links-container {
          width: $width-max;
          justify-content: flex-start;

          .top-btn,
          .bot-btn {
            width: $width-max;
          }

          a {
            width: 8rem;
            text-decoration: none;
            transition: 0.3s;
          }
          .github-button-container {
            margin-right: 1rem;
          }

          .demo-button-container {
            margin-left: 1rem;
          }

          // Specific styling for The-Blog buttons
          .blog-btn {
            width: 13rem;
            height: 2.5rem;
          }
        }
      }
    }

    .project-card:hover {
      top: -15px;
    }
  }
}

footer {
  width: $width-max;
  //   background: $white;
  border: solid 1px $light-grey;

  .footer-title-container {
    width: $width-max;
  }

  .footer-links-container {
    width: $footer-link-container-width;
    height: $footer-link-container-height;
    justify-content: space-between;
    padding-top: 1rem;
  }

  .footer-link {
    width: 3rem;
    height: 3rem;
    border: 2px solid $fb-blue;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s ease;

    a {
      text-decoration: none;
      color: $fb-blue;
      height: $height-max;
      width: $width-max;
    }
  }

  .footer-link:hover {
    background: $fb-blue;
    a {
      color: $white;
    }
  }
}
