@import 'config';
@import 'utils';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  height: 100vh;
  line-height: $line-height;
  //   background: #f3f3f3;
  transition: ease 0.3s;
}

// HEADER
header {
  margin-top: 1rem;
  width: $width-max;
  nav {
    // .nav-left {
    // }
    .nav-right {
      ul {
        list-style: none;

        li {
          a {
            text-decoration: none;
            color: $dark-grey;
            font-weight: $font-weight-med;
          }

          a:hover {
            color: $teal;
          }
        }
      }
    }
  }
}

// Intro container
.intro-container {
  .intro-top {
    h1 {
      text-align: start;
      width: $width-max;
      font-size: 3rem;
    }
  }

  .intro-bottom {
    .img-container {
      img {
        min-height: $profile-min-height;
        min-width: $profile-min-width;
        max-height: $profile-max-height;
        max-width: $profile-max-width;
        height: auto;
        width: auto;
        object-fit: fill;
        overflow: auto;
        border: solid 1px;
        border-radius: 50%;
      }
    }
    p {
      width: $med-width;
      text-align: left;
    }

    .text-container {
      ul {
        display: grid;
        grid-template-columns: repeat(2, minmax(60px, 280px));
        text-align: left;
        padding-left: 0.75rem;
      }
    }
  }
}

// Project container
.project-container {
  .projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;

    .project-card {
      max-height: $project-card-height-max;
      max-width: $project-card-width-max;
      padding: 1rem 2rem;
      display: flex;
      flex-direction: column;
      align-items: start;
      box-shadow: $project-card-box-shadow;
      transition: top 0.3s ease;
      position: relative;
      top: 0;

      .project-img-container {
        height: 300px;
        img {
          height: $height-max;
          width: $width-max;
          object-fit: cover;
        }
      }

      .project-description-container {
        justify-content: start;
        align-items: start;
        text-align: left;

        .project-info-container {
          .project-stack-container p {
            font-weight: $font-weight-light;
            word-spacing: 1rem;
          }
        }

        .project-links-container {
          width: $width-max;
          justify-content: flex-start;

          .top-btn,
          .bot-btn {
            width: $width-max;
          }

          a {
            width: 8rem;
            text-decoration: none;
            transition: 0.3s;
          }
          .github-button-container {
            margin-right: 1rem;
          }

          .demo-button-container {
            margin-left: 1rem;
          }

          // Specific styling for The-Blog buttons
          .blog-btn {
            width: 13rem;
            height: 2.5rem;
          }
        }
      }
    }

    .project-card:hover {
      top: -15px;
    }
  }
}
